/node_modules/*

/public/hot

/public/storage

/public/img_marzam

/storage/*.key

/vendor

/.idea

/.vagrant

/.phpintel

Homestead.json

Homestead.yaml

npm-debug.log

yarn-error.log

node_modules/

.env

.env2

vendor/

vendor/*
